/* BASICS */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    font-size: 1.7rem;
    transition: all 400ms linear;
    background-color: var(--bg-color);
    color: var(--text-color);
    --bg-color: hsl(282 90% 80%);
    --text-color: hsl(282 90% 10%);
    --theme-bg: hsl(282 80% 70%);
    --theme-txt: hsl(282 80% 30%);
    --strength-bar: hsl(282 80% 90%);
    --strength-bar-after: hsl(282 80% 40%);
    --button-bg: hsl(270 80% 40%);
    --button-color: hsl(260 80% 90%);
}
body.night {
    background-color: var(--bg-color);
    color: var(--text-color);
    --bg-color: hsl(282 90% 10%);
    --text-color: hsl(282 70% 85%);
    --theme-bg: hsl(282 80% 30%);
    --theme-txt: hsl(282 80% 70%);
    --strength-bar: hsl(282 40% 50%);
    --strength-bar-after: hsl(282 80% 80%);
    --button-bg: hsl(260 80% 90%);
    --button-color: hsl(260 80% 40%);
}
/* CHANGE-THEME */
.theme-container {
    position: absolute;
    background-color: var(--theme-bg);
    width: 50px;
    height: 10px;
    border-radius: 10px;
    top: 5rem;
    right: 6rem;
    transition: all 400ms linear;
}
.change-theme {
    position: relative;
    width: 280px;
    bottom: 0.8rem;
    left: 2rem;
    cursor: pointer;
    transition: all 400ms linear;
}
.change-theme.night {
    background-color: hsl(282 80% 10%);
    color: white;
    transition: all 400ms linear;
}
.change-theme i {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(1.5);
    color: var(--theme-txt);
    transition: all 400ms linear;
}
.fa-moon {
    transition: all 400ms linear;
}
.fa-sun {
    transition: all 400ms linear;
}
.change-theme .fa-moon {
    opacity: 0;
}
.change-theme .fa-sun {
    opacity: 1;
}
.change-theme.night .fa-sun {
    opacity: 0;

    transform: translateX(37px) scale(1.5);
}
.change-theme.night .fa-moon {
    opacity: 1;
    transform: translateX(37px) scale(1.5);
}
/* CONTAINER */
.container {
    padding: 3rem;
    margin: 0 auto;
}
.content-conatiner {
    margin-top: 8rem;
    text-align: center;
}
/* STRENGTH BAR */
.strength__bar {
    position: relative;
    height: 23px;
    width: 450px;
    border: 2px solid hsl(282 40% 50%);
    border-radius: 10px;
    background-color: var(--strength-bar);
    margin: 3rem auto;
    overflow: hidden;
    --strength-number: unset;
    transition: all 300ms linear;
}
.strength__bar::after {
    content: "";
    width: calc(1% * (var(--strength-number)));
    height: 100%;
    position: absolute;
    border-radius: 5px;
    left: 0;
    background-color: var(--strength-bar-after);
    transition: all 300ms linear;
}

/* PASSWORD INPUT */
#password {
    font-size: 2rem;
    border: 1px solid hsl(288, 80%, 90%);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: hsl(288, 80%, 90%);
    color: hsl(282 40% 30%);
    outline: none;
}
#password:focus {
    border-color: hsl(288 80% 40%);
    border-width: 2px;
}
/* REASONS */
#reasons-place {
    list-style: none;
    font-size: 2.5rem;
    margin-top: 3.75rem;
}
#reasons-place li {
    margin: 1.2rem 0;
    opacity: 0.6;
}

/* random pass */
.random__pass {
    margin-top: 2rem;
    outline: none;
    background-color: var(--button-bg);
    color: var(--button-color);
    border: none;
    font-size: 2rem;
    border-radius: 5px;
    padding: 1rem 1rem;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 150ms linear;
}
.random__pass:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
